@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.woff2?t=1771668664724') format('woff2'),
        url('../font/iconfont.woff?t=1771668664724') format('woff'),
        url('../font/iconfont.ttf?t=1771668664724') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    display: inline-block;
    width: 16px;
    transform: scale(0.7);
    transform-origin: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.iconfont.arrows{
    position: relative;
    top: 2px;
    -webkit-text-stroke: 0.4px ;
}
.iconfont.arrows:hover{
    color: #ff5000;
}
.iconfont.shopping-car{
    color: #ff5000;
    transform: scale(1.1);
    position: relative;
    top: 2px;
    -webkit-text-stroke: 0.2px;
}
.iconfont.favorite{
    transform: scale(0.8);
    position: relative;
    top: 1px;
    right: -3px;
    -webkit-text-stroke: 0.4px;
}
.iconfont.tab-arrows {
    position: relative;
    top: 0.5px;
    right: 0.5px;
    font-size: 12px;
    -webkit-text-stroke: 0.65px;
}
.iconfont.first{
    color: #ff5000;
    font-size: 14px;
    transform: scale(0.8);
    -webkit-text-stroke-width: 0.3px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 21px;
    position: relative;
    left: 2px;
    font-family: iconfont;
}
.iconfont.xiexian{
    color: #1f1f1f;
    font-size: 14px;
    transform: scale(0.8);
    -webkit-text-stroke-width: 0.3px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 21px;
    position: relative;
    left: 2px;
    font-family: iconfont;
}
.iconfont.tag{
    color: #1f1f1f;
    font-size: 16px;
    -webkit-text-stroke-width: 0.1px;
    transform: scale(1.0);
    font-family: iconfont;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
}
.iconfont.hot {
    color: #ff5000;
}
.iconfont.sj {
    -webkit-text-stroke-width: 0.2px;
    transform: scale(1.2);
    position: relative;
    right: 1.5px;
}
.iconfont.cl {
    -webkit-text-stroke-width: 0.3px;
}
.iconfont.sf {
    transform: scale(1.3);
    position: relative;
    right: 1.5px;
}
.iconfont.yf{
    transform: scale(1.2);
    position: relative;
    right: 1.5px;
}
.iconfont.sp {
    transform: scale(1.5);
    -webkit-text-stroke-width: 0.3px;
    position: relative;
    right: 3.5px;
}
.iconfont.my {
    transform: scale(1.5);
    position: relative;
    right: 3.5px;
}
.iconfont.hz {
    transform: scale(1.3);
    -webkit-text-stroke-width: 0.3px;
    position: relative;
    right: 2px;
}