@font-face {
  font-family: "iconfont"; /* Project id 5127468 */
  src: url('iconfont.woff2?t=1771668664724') format('woff2'),
       url('iconfont.woff?t=1771668664724') format('woff'),
       url('iconfont.ttf?t=1771668664724') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiegang:before {
  content: "\e69d";
}

.icon-naiping:before {
  content: "\e65d";
}

.icon-penwupingzi:before {
  content: "\e602";
}

.icon-jianhaoyuanquan:before {
  content: "\e740";
}

.icon-yifu:before {
  content: "\e666";
}

.icon-xiezi:before {
  content: "\e621";
}

.icon-chilun:before {
  content: "\e600";
}

.icon-qiche:before {
  content: "\ec6d";
}

.icon-shouji:before {
  content: "\e853";
}

.icon-shafa:before {
  content: "\e645";
}

.icon-redu:before {
  content: "\e601";
}

.icon-diannao:before {
  content: "\e625";
}

.icon-xia:before {
  content: "\e63c";
}

.icon-shoucang:before {
  content: "\e60a";
}

.icon-gouwuche:before {
  content: "\e655";
}

